html, body {
  background-color: #000000;
}

h1, h2, h3, h4, h5, h6, p, li {
  color: #ffffff;
  font-family: "Helvetica Heue", Helvetica;
}

code {
  color: #ffffff;
  font-family: "Menlo Regular", Menlo, Courier, Monaco;

a {
  text-color: #ffa33c;
  text-decoration: none;
}

center {
  text-align: center;
  display: block;
  margin-left: 25%;
  margin-right: 25%;
  left: 25%;
  right: 25%;
}
  
logo {
  width: 100%;
}
  
pre {
  background-color: #fdfdfd;
}
